@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
    margin:0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    background-color: #FFFFFF;;
}
.navigation{
    display:flex;
    margin: 0 auto;
}
.navigation-list{
    width: 490px;
    margin: 0;
    padding: 0;
}
.navigation-user{
    max-width: 300px;
    margin-left: auto;
}
.navigation-link{
    font-size: 20px;
    color:inherit;
    font-weight: 700;
    text-decoration: none;
}
.navigation-link-entrance{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756157;
    text-decoration: none;
    border-radius: 4px;
}
.main-index{
    color: #000000;
    background-color: #FFFFFF;
    background-image: url(../images/backgrounds/background-index.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;  
}
.sedona-description{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    
}
.reasons{
    text-align: center;
    color:#333333;
}
.advantages-list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.advantages-item{
    flex-wrap: wrap;
    display: flex;
}
.advantages-city{
    margin: 0;
    padding: 0;
    display: flex;
}
.advantages-item-offer{
    width: 400px;
}
.advantages-item-no-images{
    width: 400px;
}
.advantages-title-city{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.advantages-number-city{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.advantages-description-city{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.advantages-description-block{
    background-color:#82B3D3 ;
    width: 400px;
    height: 384px;
}
.advantages-description-image{
    width: 800px;
}
.advantages-title-offer{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
.advantages-offer{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}
.housing{
    background-color: rgba(131, 179, 211, 0.12);
}
.food{
    background-color: #FFFFFF;
}
.souvenirs{
    background-color: rgba(131, 179, 211, 0.12);
}
.advantages-title-bridge{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.advantages-number-bridge{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.advantages-description-bridge{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.advantages-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
.advantages-number{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
.advantages-description{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color:#333333;
}
.area{
    background-color:rgba(131, 179, 211, 0.12);
}
.road{
    background-color:rgba(131, 179, 211, 0.2);
}
.tourists{
    background-color:rgba(131, 179, 211, 0.12);
}
.hotels-list{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.hotels-item{
    text-align: center;
    color: #333333;
}
.button-hotels-search{
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #756157;
    text-decoration: none;
    border-radius: 4px;
}
.newsletter-background{
    color: #FFFFFF;
    background-color: #000000;
    background-image: url(../images/backgrounds/background-newsletter.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;  
}
.newsletter-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    
}
.newsletter-description{
    text-align: center;
    font-size: 22px;
    line-height: 26px;  
}
.newsletter-button{
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    background-color:#82B3D3;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0px 10px 10px 0px;
}
.page-footer a{    
    color: #000000;
    background-color: #FFFFFF;
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;
}
.button-social{
    font-size: 20px;
    font-weight: 700;

}
.page-footer .contacts-phone{
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;

}
.button-developer{
    font-size: 20px;
    font-weight: 700;
}
.selection{
    color: #000000;
    background-color: #FFFFFF;
    background-image: url(../images/backgrounds/background-filter.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat; 
}
.inner-header-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}
.breadcrumbs {
    color:#FFFFFF;
    font-size: 16px;
    line-height: 21px;
}
.breadcrumbs .breadcrumbs-link-index{
    color:#FFFFFF;
    text-decoration: none;
}
.hotels-list-filters{
    color:#FFFFFF;
}
.catalog-filter-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}
.control{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
}
.button-submit{
    width:160px;
    height:48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:#82B3D3;
    border-radius: 4px;
    border:none;
}
.button-reset{
    width: 66px;
    height:20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    background: transparent;
}
.hotels-found{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.select-control{
    font-family: "PT Sans",sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
.button-button-dark{
    text-decoration: none;
    color:#000000
}
.button-view{
    text-decoration: none;
    color:#000000   
}
.hotel-card-link{
    text-decoration: none;

}
.product-card-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color:#000000
}
.hotel-card-sign{
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    font-weight: 400;
}
.hotel-card-price{
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    font-weight: 400;
}
.hotel-card-detail{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756157;
    text-decoration: none;
    border-radius: 4px;
}
.hotel-card-favorites{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:#82B3D3;
    text-decoration: none;
    border-radius: 4px;
}
.hotel-card-rating{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    background-color:#F2F2F2;
    border-radius: 4px;
}
.hotel-card-favorites-on{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:#7DB54F;;
    text-decoration: none;
    border-radius: 4px;   
}
.pagination-current{
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background-color: #F2F2F2;
    border-radius: 4px;
}
.pagination-link{
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color:#FFFFFF;
    background-color: #82B3D3;;
    border-radius: 4px;
    text-decoration: none;
}
.hotels-on-page{
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
.container{
    margin: 0 auto;
    width:1200px;
}
html{
    height:100%;
}
.main-container{
    flex-grow: 1;
}
.welcome{
    display: block;
    margin: 0 auto;
}
.button-hotels-search{
    display: flex;
    justify-content: center;
    margin:  0 313px;
}
.newletter-form{
    display: flex;
    justify-content: center;
} 
.field{
    width: 600px;
}
.newsletter-button{
    width: 200px;
}
.page-footer{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.navigation-logo{
    width: 139px;
    margin-right:30px;
}
.hotels-found-block{
    width: 1057px;
    padding-left: 72px;
    padding-right: 71px;
    display: flex;
}
.hotels-found{
    margin-right:191px;
}
.select-control{
    width:290px;
    margin-right:78px;
}
.view-control{
    width:160px;
    display: flex;
    justify-content: space-between;
}
.catalog-bottom-column{
    width:1056px;
}
