@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
    margin:0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    background-color: #FFFFFF;;
}
.button{
    display:inline-block;
    border:none;
    cursor: pointer;
    box-sizing: border-box;
}
.navigation{
    display:flex;
    margin: 0 auto;
    height: 65px;
}
.navigation-list{
    width: 490px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
}
.navigation-user{
    max-width: 300px;
    margin-left: auto;
    align-items: center;
}
.navigation-user .navigation-link{
    padding:0;
    min-width: 42px;
    min-height: 66px;
    
}
.navigation-link-current::before{
    position: absolute;
    content: "";
    width: 65px;
    max-width: 93px;
    height: 0px;
    background-color:#756257 ;
    border: 2px solid #756257;
    top:61px;
}
.navigation-link-catalog:before{
    position: absolute;
    content: "";
    width: 93px;
    height: 0px;
    background-color:#756257 ;
    border: 2px solid #756257;
    top:61px;
}
    
.navigation-search{
    background-image: url(../images/header/search.svg);
    background-size: 19px 19px;
    background-repeat: no-repeat; 
    background-position:center ;
}
.navigation-favorites{
    position:relative;
    background-image: url(../images/header/favorite.svg);
    background-size: 19px 17px;
    background-repeat: no-repeat; 
    background-position:center ;
}
.navigation-favorites::before{
    position:absolute;
    width: 20px;
    height: 20px;
    background: #7DB54F;
    border-radius: 10px;
    content:"12";
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: -0.1em;
    top: 15px;
    left: 24px;
}
.navigation-item:last-child{
    margin-left:20px;
}
.navigation-icon{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    margin: auto;
}
.navigation-link{
    position: relative;
    display: block;
    padding:20px 17px;
    font-size: 20px;
    color:inherit;
    font-weight: 700;
    text-decoration: none;
}

.navigation-link-entrance{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756157;
    text-decoration: none;
    border-radius: 4px;
    padding: 9px 15px;
}
.navigation-link-entrance:hover{
    background-color: #615048;
}
.navigation-link-entrance:focus{
    background: #615048;
    outline: none;
}
.navigation-link-entrance:disabled{
    background: #E5E5E5;
}
.navigation-link-entrance:active{
    background: #756157;
    color: rgba(255, 255, 255, 0.3);
}


.main-index{
    color: #000000;
    background-color: #FFFFFF;
    background-image: url(../images/backgrounds/background-index.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;  
}
.sedona-description{
    margin-top:63px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    
}
.reasons{
    text-align: center;
    color:#333333;
    margin-top:31px;
    margin-bottom: 90px;
}
.advantages-list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.advantages-item{
    flex-wrap: wrap;
    display: flex;
}
.advantages-city{
    min-height: 384px;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}
.advantages-item-offer{
    width: 400px;
}
.advantages-item-no-images{
    width: 400px;
}
.advantages-title-city{
    margin-top: 92px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.advantages-number-city{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.advantages-description-city{
    margin-bottom: 92px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.advantages-description-block{
    background-color:#82B3D3 ;
    width: 400px;
    height: 384px;
}
.advantages-description-image{
    height: 384px;
    width: 800px;
}
.advantages-title-offer{
    margin: 0px;
    padding-top: 183px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
.advantages-offer{
    padding-top: 30px;
    padding-bottom: 81px;
    margin:0px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}
.housing{
    background-color: rgba(131, 179, 211, 0.12);
    min-height: 384px;
    background-image: url(../images/advantages/house.svg);
    background-size: 75px 72px;
    background-repeat: no-repeat; 
    background-position:center top 80px;
}
.food{
    background-color: #FFFFFF;
    min-height: 384px;
    background-image: url(../images/advantages/food.svg);
    background-size: 74px 70px;
    background-repeat: no-repeat; 
    background-position:center top 81px;
}
.souvenirs{
    background-color: rgba(131, 179, 211, 0.12);
    min-height: 384px;
    background-image: url(../images/advantages/souvenirs.svg);
    background-size: 100px 76px;
    background-repeat: no-repeat; 
    background-position:center top 78px;
}
.advantages-title-bridge{
    margin-top: 92px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.advantages-number-bridge{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.advantages-description-bridge{
    margin-bottom: 92px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.advantages-title{
    margin:0;
    padding-top: 103px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
.advantages-number{
    margin:0;
    padding-top: 30px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
.advantages-description{
    margin:0;
    padding-top: 30px;
    padding-bottom: 102px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color:#333333;
}
.area{
    min-height: 384px;
    background-color:rgba(131, 179, 211, 0.12);
}
.road{
    min-height: 384px;
    background-color:rgba(131, 179, 211, 0.2);
}
.tourists{
    min-height: 384px;
    background-color:rgba(131, 179, 211, 0.12);
}
.hotels-list{
    margin:0;
    padding-top:91px;
    margin-bottom:29px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.hotels-item{
    margin-bottom:56px;
    text-align: center;
    color: #333333;
}
.button-hotels-search{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #756157;
    text-decoration: none;
    border-radius: 4px;
    min-width: 574px;
    min-height: 60px;
}
.button-hotels-search:hover{
    background-color: #615048;
}
.button-hotels-search:focus{
    background-color: #615048;
    outline: none;
}
.button-hotels-search:disabled{
    background-color: #E5E5E5;
}
.button-hotels-search:active{
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}
.newsletter{
    min-height: 411px;
}
.newsletter-background{
    min-height: 411px;
    color: #FFFFFF;
    background-color: #000000;
    background-image: url(../images/backgrounds/background-newsletter.jpg);
    background-size:100% auto;
    background-repeat: no-repeat;  
}
.newsletter-title{
    margin:0;
    padding-top: 94px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    
}
.newsletter-description{
    margin:0;
    padding-top:29px;
    text-align: center;
    font-size: 22px;
    line-height: 26px;  
}
.newletter-form{
    padding-top:46px;
}
.newsletter-button{
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    background-color:#82B3D3;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0px 10px 10px 0px;
    padding:12px 15px;
}
.newsletter-button:hover{
    background-color:#68A2CA;
}
.newsletter-button:focus{
    background-color:#68A2CA;
    outline: none;
}
.newsletter-button:disabled{
    background-color:#E5E5E5;;
}
.newsletter-button:active{
    background-color:#82B3D3;
    color: rgba(255, 255, 255, 0.3);
}
.page-footer a{    
    color: #000000;
    background-color: #FFFFFF;
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;
}
.button-social{
    min-width: 46px;
    min-height: 40px;
    font-size: 20px;
    font-weight: 700;
    position: relative;
}


.page-footer .contacts-phone{
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;

}
.button-social:hover .footer-social-icon{
    fill:#68A2CA;
}
.button-social:focus .footer-social-icon{
    fill:#68A2CA;
}
.button-social:focus{
    outline:none;
}
.button-social:active .footer-social-icon{
    fill:rgba(104, 162, 202, 0.3);
}
.contacts-phone:hover{
    color: #756157;
}
.contacts-phone:focus{
    color: #756157;
    outline: none;
}
.contacts-phone:active{
    color: rgba(117, 97, 87, 0.3);
}
.button-developer:hover .developer-social{
    fill:#756157;
}
.button-developer:focus .developer-social{
    fill:#756157;
}
.button-developer:active .developer-social{
    fill:rgba(117, 97, 87, 0.3);;
}
.button-developer:focus{
    outline: none;
}
.button-developer{
    min-width: 115px;
    min-height: 33px;
}
.selection{
    color: #000000;
    background-color: #FFFFFF;
    background-image: url(../images/backgrounds/background-filter.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat; 
}
.inner-header-title{
    margin:0;
    padding-top:35px;
    padding-left:70px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}
.breadcrumbs {
    display:flex;
    list-style-type: none;
    margin:0;
    padding-top:10px;
    padding-left:70px;
    color:#FFFFFF;
    font-size: 16px;
    line-height: 21px;
    background-image: url(../images/breadcrubs/breadcrubs-arrow.svg);
    background-size: 6px 9px;
    background-repeat: no-repeat; 
    background-position:top 17px left 94px ;

    
}
.breadcrumbs-item{
    cursor: pointer;
    margin-right: 26px;
}
.breadcrumbs-home{
    padding-top:5px;
}
.breadcrumbs-link-index:hover .breadcrumbs-home{
  fill: rgba(255, 255, 255, 0.6);
}
.breadcrumbs-link-index:focus .breadcrumbs-home{
    fill: #FFFFFF;
  }
.breadcrumbs-link-index:focus{
    outline: none;
}
.breadcrumbs-link-index:active .breadcrumbs-home{
    fill: rgba(255, 255, 255, 0.3);
  }

.breadcrumbs .breadcrumbs-link-index{
    color:#FFFFFF;
    text-decoration: none;
}
.breadcrumbs-link:hover{
    color:rgba(255, 255, 255, 0.6);
}
.breadcrumbs-link:focus{
    color:#FFFFFF;
}
.breadcrumbs-link:active{
    color:rgba(255, 255, 255, 0.3);
}

.hotels-list-filters{
    color:#FFFFFF;
}
.catalog-filter{
    display: flex;
}
.catalog-filter-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}
.control{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
}
.button-submit{
    cursor: pointer;
    width:160px;
    height:48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:#82B3D3;
    border-radius: 4px;
    border:none;
}
.button-submit:hover{
    background-color:#68A2CA;
}
.button-submit:focus{
    background-color:#68A2CA;
    outline: none;
}
.button-submit:disabled{
    background-color:#E5E5E5;
}
.button-submit:active{
    background-color:#82B3D3;
    color:rgba(255, 255, 255, 0.3) ;
}

.button-reset{
    cursor: pointer;
    width: 66px;
    height:20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    background: transparent;
}
.button-reset:hover{
    opacity: 0.6;
}
.button-reset:focus{
    color: #FFFFFF;
    border: 3px solid #83B3D3;
    outline:none;
}
.button-reset:active{
    color: #FFFFFF;
    opacity: 0.3;
}
.hotels-found{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.select-control{
    font-family: "PT Sans",sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
.card-grid-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:8px;
    width: 48px;
    height: 48px;
    text-decoration: none;
    color:#000000;
    border: 2px solid #E5E5E5;
}
.card-grid-toggle:hover{
    border: 2px solid #000000;
}
.card-grid-toggle:focus{
    border: 2px solid #68A2CA;
    outline: none;
}
.card-grid-toggle:active{
    border: 2px solid #000000;
}
.card-grid-toggle-current{
    border: 2px solid #000000;
}

.card-grid-toggle:last-child{
    margin-right:0;
}
.hotel-card-link{
    text-decoration: none;

}
.product-card-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000;
    margin:0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.hotel-card-sign{
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    font-weight: 400;
    word-wrap: break-word;
}
.hotel-card-price{
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    font-weight: 400;
    word-wrap: break-word;
}
.hotel-card-detail{
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756157;
    text-decoration: none;
    border-radius: 4px;
    word-wrap: break-word;
    padding-top: 9px;
    padding-bottom: 8px;
}
.hotel-card-detail:hover{
    background-color: #615048;
}
.hotel-card-detail:focus{
    background-color: #615048;
    outline: none;
}
.hotel-card-detail:disabled{
    background-color: #E5E5E5;
}
.hotel-card-detail:active{
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}
.hotel-card-favorites{
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:#82B3D3;
    text-decoration: none;
    border-radius: 4px;
    word-wrap: break-word;
    padding-top: 9px;
    padding-bottom: 8px;
}
.hotel-card-favorites:hover{
    background-color:#68A2CA;
}
.hotel-card-favorites:focus{
    background-color:#68A2CA;
    outline: none;
}
.hotel-card-favorites:disabled{
    background-color:#E5E5E5;
}
.hotel-card-favorites:active{
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}
.hotel-card-rating{
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    background-color:#F2F2F2;
    border-radius: 4px;
    word-wrap: break-word;
    padding-top: 9px;
    padding-bottom: 8px;
}
.hotel-card-favorites-on{
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:#7DB54F;
    text-decoration: none;
    border-radius: 4px; 
    word-wrap: break-word;
    padding-top: 9px;
    padding-bottom: 8px;  
}
.hotel-card-favorites-on:hover{
    background-color:#6C9E42;
}
.hotel-card-favorites-on:focus{
    background-color:#6C9E42;
    outline: none;
}
.hotel-card-favorites-on:disabled{
    background-color:#E5E5E5;
}
.hotel-card-favorites-on:active{
    background-color:#7DB54F;
    color: rgba(255, 255, 255, 0.3);
}

.pagination-link{
    display: block;
    box-sizing: border-box;
    width:60px;
    height:60px;
    padding: 11px 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color:#FFFFFF;
    background-color: #82B3D3;;
    border-radius: 4px;
    text-decoration: none;
}
.pagination-link:not(.pagination-current):hover{
    background: #68A2CA;
}
.pagination-link:not(.pagination-current):focus{
    background: #68A2CA;
    outline: none;
}
.pagination-link:not(.pagination-current):active{
    background: #82B3D3;
    color:rgba(255, 255, 255, 0.3);
}
.pagination-current{
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background-color: #F2F2F2;
    border-radius: 4px;
    color:#000000;
}
.hotels-on-page{
    padding-left: 270px;
    padding-right: 51px;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
.container{
    margin: 0 auto;
    width:1200px;
}
html{
    height:100%;
}
.main-container{
    flex-grow: 1;
    padding-top: 51px;
}
.main-inner{
    padding-top:0;
}
.welcome{
    display: block;
    margin: 0 auto;
    margin-bottom: 26px;
}
.button-hotels-search{
    display: flex;
    justify-content: center;
    margin:  0 313px;
}
.newletter-form{
    display: flex;
    justify-content: center;
} 
.field{
    width: 600px;
}
.newsletter-button{
    width: 200px;
}
.page-footer{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    min-height:120px;
}
.navigation-logo{
    width: 139px;
    margin-right:30px;
}
.hotels-found-block{
    height:49px;
    margin:0;
    margin-top:126px;
    margin-bottom: 56px;
    display: flex;
}
.hotels-found{
    margin:0;
    margin-right: 191px;
    margin-left:72px;
    padding-top:10px;
    text-align: center;
}
.select-control{
    width:290px;
    padding-right:78px;
}
.view-control{
    width:160px;
    display: flex;
    justify-content: space-between;
    margin-left: 78px;
    margin-right: 71px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.hotels-search{
    min-height:417px;
}
.footer-social-list{
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding:0;
    list-style-type: none;
    margin-top:45px;
    margin-left: 70px;
}
.footer-social-item{
    width: 47px;
    height: 40px;
}
.footer-phone-number{
    margin-top:45px;
}
.site-developer{
    margin-top:45px;
    margin-right: 70px;
    min-width:115px;
    min-height:33px;
}

.hotel-list{
    display:grid;
    position: relative;
    grid-template-columns: repeat(3, 340px);
    grid-row-gap:20px;
    grid-column-gap:18px; 
    list-style-type: none;
    margin:0;
    padding:0;
    margin-bottom: 96px;
    margin-left: 73px;
}
.hotel-list::before{
    position: absolute;
    flex-grow: 1;
    margin-right:72px;
    top: 942px;
    border: 1px solid #E6E6E6;
    transform: rotate(180deg);
    width: 1055px;
    height: 0px;
    content: "";
}
.pagination-container{
    display: flex;
    height: 60px;
    margin-left: 73px;
}
.pagination{
    display: flex;
    list-style-type: none;
    margin:0;
    padding:0; 
}
.pagination-item:not(:last-child){
    margin-right: 8px;
}
.select-hotels{
    width: 160px;
    height:49px;
}
.hotel-card{
    display:grid;
    margin:20px 20px 20px 20px;
}
.hotel-card-text-content{
    display:grid;
    grid-template-columns: 140px 140px ;
    row-gap: 16px;
    column-gap: 20px;
}
.hotel-card-buttons-content{
    display:grid;
    grid-template-columns: 140px 140px ;
    row-gap: 16px;
    column-gap: 20px;
    margin-top: 16px;
    
}
.hotel-card-link{
    margin:0;
    padding:0;
}

.footer-social-icon{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    margin: auto;
}
.star-container{
    display: flex;
    align-items: center;
}
.rating-star{
    padding-right: 6px;
}
.rating-star:last-child{
    padding: 0;
}
